@tailwind base;

* {
  font-family: 'Source Sans Pro', sans-serif;
}

code,
pre,
code *,
pre * {
  font-family: 'Source Code Pro', sans-serif;
}

pre.prism-code,
pre.prism-code * {
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1 {
  @apply text-5xl;
}
h2 {
  @apply text-4xl;
  @apply mb-8;
}
h3 {
  @apply text-3xl;
  @apply mb-8;
}
h4 {
  @apply text-2xl;
  @apply mb-8;
}
h5 {
  @apply text-xl;
  @apply mb-8;
}
h6 {
  @apply mb-8;
}

a:hover {
  @apply underline;
  text-decoration: underline;
  text-decoration-color: theme('colors.gold.900');
}

.custom-page p {
  @apply leading-loose;
  @apply mb-6;
}

.footnotes ol {
  list-style: decimal;
  list-style-position: inside;
}

.footnotes hr {
  border-color: theme('colors.gray.200');
}

.footnotes p {
  display: inline-block;
  margin-bottom: 0;
}

.highlight-line {
  background-color: #3b4252;
}

input:checked + #menu {
  @apply visible;
  @apply h-12;

  opacity: 1;
}

a.slide-logo {
  transform: translateX(calc(50% - 2.6em));
}

.styled-link {
  font-weight: 400;
  text-decoration-color: theme('colors.gold.900') !important;
}

.styled-link:hover > div {
  transform: translateX(var(--translate-x));
}

.styled-link-icon-container {
  vertical-align: middle;
  display: inline-block;
  transition: all 1s linear;
}

@tailwind components;

@tailwind utilities;
