---
title: "Brief summany about me"
slug: "about"
description: "A brief summary about me, a remote software engineer."

import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="About | Bruno Arueira">
  <h1 class="leading-tight mb-8 mt-6">About</h1>

  <p class="mb-6 text-xl">
    Hello, I'm Bruno, a software engineer working remotely from Rio de Janeiro, Brazil.
  </p>

  <p class="mb-6 text-xl">
    I'm married with a psychologist.
  </p>

  <p class="mb-6 text-xl">
    This site and the blog is using <a href="https://astro.build" target="_blank" rel="noopener noreferrer">AstroJS</a>, with tailwind css, some pages and blog posts written using mdx.
  </p>

  <p class="mb-6 text-xl">
    You can see some of my open source contributions on my <a href="https://github.com/brunoarueira" target="_blank" rel="noopener noreferrer">Github</a>.
  </p>
</MainLayout>
