---
import { MenuIcon, XIcon } from "astro-feather"
---

<nav class="md:m-auto mx-1 md:w-2/4 py-8 flex flex-col md:flex-row justify-between">
  <a class="text-xl no-underline hover:no-underline hover:text-gray-700" href="/" style="font-weight: 600; transition: all 2s linear;">
    Bruno Arueira
  </a>

  <label for="menu-toggle" class="cursor-pointer md:invisible lg:invisible absolute self-end" style="margin-top: .2rem; display: initial;">
    <MenuIcon />
  </label>
  <input class="hidden" type="checkbox" id="menu-toggle" />

  <ul id="menu" class="h-0 w-full justify-center mt-2 md:h-auto md:opacity-100 md:w-auto md:inline-flex md:items-center" style="transition: visibility 0s, opacity 0.5s linear;">
    <li class="mr-0 md:mr-4 my-2 py-2 border-b border-gold-900 text-center md:my-0 md:py-0 md:border-0">
      <a href="/blog" class="no-underline">
        Blog
      </a>
    </li>

    <li class="my-2 py-2 border-b border-gold-900 text-center md:my-0 md:py-0 md:border-0">
      <a href="/about" class="no-underline">
        About
      </a>
    </li>
  </ul>
</nav>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const label = document.getElementsByTagName('label')[0]

    if (typeof (label) !== 'undefined') {
      const input = document.getElementsByTagName('input')[0]
      const logoLink = document.getElementsByClassName('.logo')[0]

      input.addEventListener('change', function (event) {
        console.log(input.checked)
        if (input.checked) {
          input.innerText = '<XIcon style="transition: all 2s ease; transform: rotate(-0.5turn);" />';
        } else {
          input.innerText = '<MenuIcon />';
        }

        logo.toggleClass = 'slide-logo';
      })
    }
  })
</script>
