---
import StyledLink from "../components/StyledLink.astro"

const posts = []
---

<div class="w-full py-6 bg-gray-100 mt-8 md:py-12">
  <div class="m-auto w-11/12 md:w-2/4">
    <h5 class="mb-0">Some random thoughts</h5>

    <div class="w-2/6 border-b border-gold-900 my-3" />

    {posts.map(function ({ post }) {
      const title = post.frontmatter.title || post.frontmatter.slug
      const postSlug = `blog/${post.frontmatter.slug}`

      return (
        <p class="py-3" key={postSlug}>
          <a href={postSlug} class="no-underline hover:underline text-xl" style="font-weight: 500;">{title}</a>
        </p>
      )
    })}

    <div class="pt-2">
      <StyledLink text="See More" address="/blog" />
    </div>
  </div>
</div>
